body{
    padding: 0 20%;
}

.header {
    text-align: center;
    margin-top: 20px;
}

.board{
    border-radius: 5%;
    display: grid;
    /*grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);*/
}